# Binaries and executables
/jdiff
/jdiff.exe
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts & coverage
*.out
*.test
coverage.txt
coverage.html

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor settings
.idea/
.vscode/
*.swp
*.swo
*~
